.container-fluid {
    margin: 0;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0%;
    width: 100%;
    background-color: rgb(74, 74, 80);
    font-family: 'Cabin', sans-serif;
}
.jumbotron {
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-color: rgb(66, 209, 190);
    border-radius: 0%;
    color: white;
    margin-bottom: 0;
}
.jumbotron h1 {
    font-size: 8vw;
}
p {
    font-family: 'Cabin', sans-serif;
}
#inlineFormCustomSelect {
    padding: 5px;
    background-color: transparent;
    border-color: yellow;
    color: white;
}
.navbar-form {
    background: transparent;
    float: right;
}
.navbar-form .btn {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0%;
}
.glyphicon {
    color: yellow;
}
.images {
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.images img {
    height: 50vh;
    padding: 5px;
}
.images #image_name {
    margin-top: 15px;
    color: rgb(0, 255, 242);
}
#homepage {
    margin-top: 0;
    background-color: rgb(211, 218, 211);
    padding-top: 40px;
}
img:hover {
    position: initial;
    background-color: gray; 
    display: block;
    z-index: 999;
}
h3 {
    font-family: 'Pacifico', cursive;
    font-size: 5vw;
    margin-bottom: 30px;
    text-align: center;
}
#single_image {
    padding: 10px;
    background-color: gray;
    height: 100vh;
    margin: auto;
}
.single {
    margin: 0;
    background-color: rgb(66, 209, 190);
}
.info {
    background-color: rgb(226, 217, 217);
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}
h2 {
    font-family: 'Pacifico', cursive;
    font-size: 3vw;
    margin-bottom: 30px;
    text-align: center;
}
#location {
    height: 50vh;
    padding: 5px;
}
#image_location {
    margin-top: 10px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.limage {
    background-color: peru;
    font-size: 3vw;
}
.search_cat {
    background-color: #cd853f;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#cat_image {
    height: 50vh;
    padding: 5px;
}
#cat_name {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 3vw;
}
.i_info {
    text-align: center;
}