{% extends 'base.html' %}

{% block content %}
    <div class="single">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{specific_image.image_name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
    
                </div>
                <div class="col-md-10">
                    <img src="{{specific_image.image.url}}" id="single_image" class="img-responsive" alt="loading image...">
                </div>
                <div class="col-md-1">
    
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-1">
    
                </div>
                <div class="col-md-10 info">
                    <p style="font-size: 2vw;"><b>Description</b></p>
                    <p id="desc">{{specific_image.description}}</p>
                    <p><b>Posted </b>{{specific_image.image_location.time_posted|timesince}} ago</p>
                    <p>Location: <a href="{% url 'Filter_image' specific_image.image_location.location %}" >{{specific_image.image_location.location}}</a></p>
                </div>
                <div class="col-md-1">
    
                </div>
            </div>
        </div>
    </div>
{% endblock %}